:root {

    /* colors */
    --text-dark: #000;
    --text-light: #fff;
    --text-gray: #adbdcc;

    --purple-1: #6962f7;
    --purple-2: #7000ff;
    --blue-1: #00d4ff;

    --primary-accent: #0a2540;
    --primary-gradient: linear-gradient(101.33deg,
            #08209a 0.76%,
            #6563ff 33.33%,
            #36c5f0 76.92%,
            #83e2ff 96.96%);

    --bg-white: #fff;
    --bg-light: #f7f9fc;

    --btn-primary-hover: #6d7a88;

    --box-shadow: 0 2px 40px rgba(0, 0, 0, 0.15);

    /* font family */
    --ff-body: 'Roboto', sans-serif;
    --ff-heading: 'Anek Telugu', sans-serif;

    /* font size */
    --fs-h1: 94px;
    --fs-h2: 50px;
    --fs-h3: 40px;
    --fs-h4: 32px;
    --fs-h5: 28px;
    --fs-h6: 22px;

    --fs-subtitle: 17px;
    --fs-paragraph: 18px;
    --fs-secondary-text: 14px;
    --fs-btn: 16px;

    /* line height */
    --lh-h1: 108px;
    --lh-h2: 75px;

    --lh-subtitle: 26px;
    --lh-paragraph: 26px;
    --lh-secondary-text: 18px;

    /* font weight */
    --fw-light-300: 300;
    --fw-regular-400: 400;
    --fw-medium-500: 500;
    --fw-semi-600: 600;
    --fw-bold-700: 700;

    /* spacing */
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;

    /* width */
    --wd-standard: 1144px;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
} */

body {
    font-family: var(--ff-body);
    color: var(--text-dark);
    width: 100%;
    padding: var(--spacing-sm) 0 0 0;

    background-color: teal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    margin: var(--spacing-xl) 0 0 0;
}

h1 {
    font-family: var(--ff-heading);
    font-weight: var(--fw-semi-600);
    font-size: var(--fs-h1);
    width: 100%;
    letter-spacing: -1px;
    line-height: var(--lh-h1);
}

/* h2 {
    font-family: var(--ff-heading);
    font-weight: var(--fw-medium-500);
    font-size: var(--fs-h2);
    width: 100%;
    letter-spacing: -0.25px;
    line-height: var(--lh-h2);
} */

h2 {
    font-family: var(--ff-heading);
    font-weight: var(--fw-semi-600);
    font-size: var(--fs-h3);
    width: 100%;
}

h3 {
    font-family: var(--ff-heading);
    font-weight: var(--fw-medium-500);
    font-size: var(--fs-h3);
    width: 100%;
}

h4 {
    font-family: var(--ff-heading);
    font-weight: var(--fw-medium-500);
    font-size: var(--fs-h4);
    width: 100%;
    letter-spacing: 0.25px;
}

h5 {
    font-family: var(--ff-heading);
    font-weight: var(--fw-medium-500);
    font-size: var(--fs-h5);
    width: 100%;
}

h6 {
    font-family: var(--ff-heading);
    font-weight: var(--fw-medium-500);
    font-size: var(--fs-h6);
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--purple-1);
    font-weight: var(--fw-medium-500);
    transition: color -.25s ease;
}

a:hover {
    color: var(--primary-accent);
}

p {
    margin: var(--spacing-md) 0;
    font-size: var(--fs-paragraph);
    font-weight: var(--fw-regular-400);
    line-height: var(--lh-paragraph);
}

/* layout styling */

.section-width {
    display: flex;
    justify-content: center;
    width: 100%;
}

.section-container {
    width: 100%;
    max-width: var(--wd-standard);
}

.two-column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.two-column>.col-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 50%;
    padding: 0 var(--spacing-md) 0 0;
}

.two-column>.col-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 50%;
    padding: 0 0 0 var(--spacing-md);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: var(--spacing-sm) var(--spacing-md) var(--spacing-sm) 0;
}

.card .icon {
    height: 50px;
    margin: 0 0 var(--spacing-sm) 0;
}

.card h3 {
    font-family: var(--ff-heading);
    font-weight: var(--fw-medium-500);
    font-size: var(--fs-h6);
    width: 100%;
}

.subtitle,
.subtitle--2 {
    color: var(--purple-1);
    font-family: var(--ff-heading);
    font-size: var(--fs-subtitle);
    font-weight: var(--fw-medium-500);
    line-height: var(--lh-subtitle);
}

.subtitle--2 {
    color: var(--blue-1);
}

.secondary-text {
    color: var(--text-gray);
    font-size: var(--fs-secondary-text);
    line-height: var(--lh-secondary-text);
    letter-spacing: 0.25px;
}

.btn-primary {
    background-color: var(--primary-accent);
    color: var(--text-light);
    border-radius: 20px;
    border: none;
    padding: var(--spacing-sm) var(--spacing-md);
    font-family: var(--ff-body);
    font-size: var(--fs-btn);
    font-weight: var(--fw-bold-700);
    letter-spacing: 1.25px;
    transition: all 0.15s ease;
}

.btn-primary:hover {
    cursor: pointer;
    background-color: var(--btn-primary-hover);
}

.btn-secondary {
    background-color: transparent;
    color: var(--primary-accent);
    border-radius: 20px;
    border: none;
    font-family: var(--ff-body);
    font-size: var(--fs-btn);
    font-weight: var(--fw-bold-700);
    letter-spacing: 1.25px;
    transition: all 0.15s ease;
}

.btn-secondary:hover {
    cursor: pointer;
    opacity: 0.75;
}

.with-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.with-icon>img {
    transition: transform 0.25s ease;
}

.with-icon:hover>img {
    transform: translateX(5px);
}

/* navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--wd-standard);
    padding: 0 var(--spacing-md);
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.menu a {
    color: var(--text-light);
    margin: 0 var(--spacing-md);
    font-weight: var(--fw-bold-700);
}

.menu a:hover {
    text-decoration: underline;
}

.btn-navbar {
    background-color: rgba(250, 250, 250, 0.25);
}

.btn-navbar:hover {
    background-color: rgba(250, 250, 250, 0.5);
}

/* hero styling */

.btn-container {
    display: flex;
    flex-direction: row;
    margin: var(--spacing-md) 0;
}

.btn-container button:nth-child(2) {
    color: var(--purple-2);
    margin: 0 0 0 var(--spacing-md);
}

.hero p {
    max-width: 480px;
}

.hero .hero-phone-container {
    height: 564px;
    align-items: flex-end;
}

.hero-phone {
    height: 628px;
    transform: translate(32px, -32px);
}

/* partners styling */

.partners-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    column-gap: var(--spacing-md);
    row-gap: var(--spacing-lg);
    margin: var(--spacing-xl) 0;
}

.partners-grid img {
    height: 60px;
    place-self: center;
}

/* unified section styling */

.unified-section {
    padding: var(--spacing-xl) 0;
}

.unified-section h2 {
    width: 50%;
    margin-bottom: var(--spacing-md);
}

.unified-section .btn-primary {
    background-color: var(--purple-1);
    margin: var(--spacing-md) 0;
}

.unified-section .btn-primary:hover {
    background-color: var(--primary-accent);
}

/* graphic section styling */

.graphic-grid {
    display: grid;
    grid-gap: var(--spacing-lg);
    padding: var(--spacing-lg) 0;
    grid-template-areas:
        "card slack slack"
        "phone slack slack"
        "phone dash dash";
}



#credit-card {
    grid-area: card;
    box-shadow: var(--box-shadow);
}

#slack-invoice {
    grid-area: slack;
    box-shadow: var(--box-shadow);
}

#phone {
    grid-area: phone;
    box-shadow: var(--box-shadow);
}

#dash {
    grid-area: dash;
    box-shadow: var(--box-shadow);
}

/* integration section styling */

.integration-section {
    color: var(--text-light);
}

.integration-section .btn-primary {
    background-color: var(--blue-1);
    color: var(--primary-accent);
    margin: var(--spacing-md) 0 0 0;
}

.integration-section .btn-primary:hover {
    background-color: var(--bg-white);
}

.integration-section .card-container {
    display: flex;
    margin: var(--spacing-lg) 0;
}

.integration-section .card-container .card {
    width: 50%;
}

.integration-section .btn-secondary {
    color: var(--blue-1);
}

#api-code {
    border-radius: 20px;
    max-width: 470px;
    margin: 0 0 var(--spacing-md) 0;
}

#terminal-code {
    border-radius: 20px;
    max-width: 470px;
}

/* why section */

.why-swipe-section .card-container {
    display: flex;
    margin: var(--spacing-lg) 0;
}

.why-swipe-section .card-container .card {
    width: 25%;
    padding: 0 var(--spacing-sm) 0 0;
    margin: 0 var(--spacing-md) 0 0;
}

.why-swipe-section .secondary-text {
    color: var(--text-dark);
}

/* global section */

.global-section {
    position: relative;
    background-color: var(--primary-accent);
    color: var(--text-light);
    padding: calc(var(--spacing-xl) * 3) 0;
}

.global-section a {
    color: var(--blue-1);
}

.global-section a:hover {
    color: var(--text-light);
}

.global-section .card-container {
    display: flex;
    margin: calc(var(--spacing-xl) * 2) 0;
}

.global-section .card-container .card {
    width: 25%;
    padding: 0 var(--spacing-sm) 0 0;
    margin: 0 var(--spacing-md) 0 0;
}

.global-section .card-container .card h3 {
    border-left: 2px solid var(--blue-1);
    padding: 0 0 0 var(--spacing-sm);
    line-height: 28px;
}

#globe {
    position: absolute;
    max-width: 844px;
    top: 10%;
    opacity: 25%;
}

/* virtual events section */

.virtual-event-section {
    padding: calc(var(--spacing-xl) * 2) 0;
}

.virtual-event-section .btn-primary {
    background-color: var(--purple-1);
    margin: var(--spacing-md) 0 0 0;
}

.virtual-event-section .btn-primary:hover {
    background-color: var(--primary-accent);
}

.virtual-event-section .col-left {
    height: 446px;
    padding: 0 var(--spacing-xl) 0 0;
}

.swipe-sessions-card {
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    width: 540px;
    height: 446px;
    overflow: hidden;
}

.swipe-sessions-card .card-top {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.swipe-sessions-card .card-top::before {
    position: absolute;
    background: var(--primary-gradient);
    content: "";
    width: 100%;
    height: 150%;
    top: -40%;
    transform: skewY(-5deg);
    z-index: 1;
}

#sessions-logo {
    z-index: 2;
    width: 338px;
}

.virtual-event-section .card-avatars {
    position: absolute;
    width: 140px;
    height: 80px;
    bottom: -70px;
    left: var(--spacing-xl);
    z-index: 3;
}

.virtual-event-section .card-avatars img {
    display: inline;
    width: 80px;
}

.virtual-event-section .card-avatars img:nth-of-type(2) {
    position: absolute;
    left: 55px;
}

.virtual-event-section .card-bottom {
    width: 100%;
    height: 50%;
    padding: var(--spacing-xl);
}

.virtual-event-section .card-bottom .subtitle {
    margin: var(--spacing-lg) 0 0 0;
}

.virtual-event-section .card-bottom .secondary-text {
    color: var(--text-dark);
    width: 50%;
    font-weight: var(--fw-bold-700);
}

/* getting started section */

.getting-started-section {
    padding: var(--spacing-xl) 0;
}

.getting-started-section .btn-primary {
    background-color: var(--purple-1);
    margin: var(--spacing-md) 0 0 0;
}

.getting-started-section .btn-primary:hover {
    background-color: var(--primary-accent);
}

.getting-started-section .col-left {
    padding: 0 var(--spacing-xl) 0 0;
}

.getting-started-section .col-right {
    flex-direction: row;
}

.getting-started-section .col-right .card {
    width: 50%;
    padding: 0 var(--spacing-sm) 0 0;
    margin: 0 var(--spacing-md) 0 0;
}

.getting-started-section .col-right .card .btn-secondary {
    color: var(--purple-2);
    padding-left: 0;
}

/* footer section */

.footer {
    background-color: var(--bg-light);
    padding: var(--spacing-xl) 0;
}

#footer-logo {
    max-width: 108px;
    margin: 0 0 var(--spacing-md) 0;
}

.footer .section-container {
    display: flex;
    flex-direction: row;
}

.footer .col {
    width: 25%;
}

.footer .col ul {
    padding: 0;
    list-style: none;
}

.footer .col ul li {
    margin: var(--spacing-md) 0;
}

.footer .col a {
    color: var(--text-dark);
    font-weight: normal;
}

.footer .col a:hover {
    color: var(--purple-1);
    text-decoration: underline;
}

.footer .icon-link {
    display: flex;
    align-items: center;
    margin: var(--spacing-md) 0;
}

.footer .icon-link img {
    width: 24px;
    margin: 0 var(--spacing-sm) 0 0;
}

.footer h3 {
    font-size: var(--fs-h6);
    font-weight: var(--fw-bold-700);

}